[submodule "clojure/clojure-tutorial"]
	path = clojure/clojure-tutorial
	url = git@github.com:Anddd7/clojure-tutorial.git
[submodule "infra/infrastructure-workshop"]
	path = infra/infrastructure-workshop
	url = git@github.com:Anddd7/infrastructure-workshop.git
[submodule "kotlin/model-pattern-objects"]
	path = kotlin/model-pattern-objects
	url = git@github.com:Anddd7/model-pattern-objects.git
[submodule "kotlin/micronaut/dci-tutorial"]
	path = kotlin/micronaut/dci-tutorial
	url = git@github.com:Anddd7/dci-tutorial.git
[submodule "kotlin/micronaut/ddd-advantage-dojo"]
	path = kotlin/micronaut/ddd-advantage-dojo
	url = git@github.com:Anddd7/ddd-advantage-dojo.git
